<div class="jumbotron">
    <h2>
        <small style="color: black">Ник: {{ user.username }}</small><br>
        <small style="color: black">ФИО: {{ user.last_name }} {{ user.first_name }} {{ user.middle_name }}</small><br>
        <small style="color: black">Пол: {{ user.sex }}</small><br>
        <small style="color: black">Дата рождения: {{ user.birthday }}</small><br>
        <small style="color: black">email:  {{ user.email }}</small><br>
        <small style="color: black">Телефон:  {{ user.phone }}</small><br>
        <br>

    </h2>
</div>
