{% extends 'base.html' %}
{%  block list %}
    {%  for order in orders %}
        <div class="jumbotron">
            <h2>
                {{ computer.name }}
                <br><br>
                {% if computer.image %}
                <img src="{{ MEDIA_URL }}{{ computer.image.url }}" width="400" height="300">
                {% endif %}
                <br><br>
                <p>Описание</p>
                <div align="justify"><small style="color: black">{{  computer.description }}</small></div>
                <br>
                <p>Цена: {{  computer.price }} Р</p>
                <br>
                <br>
                <br>
            </h2>
        </div>
    {%  endfor %}
{%  endblock %}