<div class="jumbotron">
    <h2>
        <small style="color: black">Номер заказа: {{ order.id }}</small><br><br>
        <small style="color: black">Название товара: {{ order.computer.name }}</small><br><br>
        <small style="color: black">Адрес доставки: {{ order.address }}</small><br>
        <small style="color: black">Дата доставки: {{ order.delivery_date }}</small><br>
        <small style="color: black">Итого: {{ order.computer.price }}</small><br><br>
        <small style="color: black">ФИО:  {{ order.user.last_name }}
                                                    {{ order.user.first_name }}
                                                    {{ order.user.middle_name }}</small><br>
        <small style="color: black">email:  {{ order.user.email }}</small><br>
        <small style="color: black">Телефон:  {{ order.user.phone }}</small><br>
        <br>
        {%  with id=order.computer.id %}
        <a class="btn btn-lg btn-primary" href="{%  url 'post' id %}" role="button">Отобразить</a>
        {% endwith %}
    </h2>
</div>
